
*,
::before,
::after
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    height: 100vh;
    width: 100vw;
    background: lightgrey;
   
}

.logo-container {
    height: 110px;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 80px;
    width: 150px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selector {
    height: 300px;
    width: 100vw;
    background: lightgrey;
}

.pay-with-selector {
    display: none;
}

.price-option {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 130px;
    text-decoration-color: black;
}

.buy-price {
    background-color: red;
}

.confirmation {

    text-align: center;
    width: 100%;
    font-size: 19px;
    display: none;

}

.confirmation.show {
    display: flex;
    text-align: center;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 19px;
   
}

.button {   
    font-weight: bold;
    background-color: white;
    border: 2px solid grey;
    padding: 15px 0 15px 0;
    border-radius: 10px;
}

.button:hover {
    border: 2px solid black;
    border-radius: 10px;
}

.sub-title {
    text-align: center;
    height: 50px;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin-bottom: 50px;

}

.main-grid {
    height: 160px;
    width: 330px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 30px;
    font-size: 14px;
    text-align: center;
    padding: 0 5px 0 5px;
}

.buy-options {
    width: 330px;
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.option {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px lightgrey solid;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

.option:hover {
    border: 2px rgb(14, 14, 14) solid;
    border-radius: 10px;
}

.option:active {
    border: 2px grey solid;
}

.option h4 {
    position: relative;
    top: 20px;
}

.next-button {
    background: rgb(48, 48, 241);
    width: 200px;
    height: 45px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
}

.next-button:hover {
    background: rgb(105, 105, 223);
    cursor: pointer;
}

.hidden {
    display: none;
}

#buy-selector.hidden {
    display: none;
}

.price-options {
    font-size: 67px;
    display: none;
}

.price-options.show {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    height: 320px;
    gap: 3px;
}


button {
    padding: 7px 15px 7px 15px;;
    border: 1px white solid;
    border-radius: 3px;
    cursor: pointer;
    width: 100px;
}

.payment-message {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: none;
}

.payment-message.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.payment-message-btn {

    font-weight: bold;
}

.green {
    color: green;
}

.payment-message-content {
    width: 500px;
    margin: auto;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}